<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WSURL</key>
	<string>ws://192.168.0.14:8123/api/websocket</string>
	<key>authToken</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiI1OWNmM2RhOWQ4OTA0N2NjODBiNzIxMGRjMjg3M2I5YSIsImlhdCI6MTcxMDI4ODM5MSwiZXhwIjoyMDI1NjQ4MzkxfQ.2471_7wiaQ05uhpGZKkOqvzEcml-92ebIAru0FLHB6Q</string>
	<key>RESTURL</key>
	<string>http://192.168.0.229:8123</string>
</dict>
</plist>
